/* General Styles */
body {
    padding: 20px;
}
.result {
    margin-top: 20px;
}
.readme-content {
    white-space: pre-wrap;
    max-height: 150px;
    overflow: auto;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.loading-spinner {
    display: none;
    margin: 10px auto;
}
.is-loading {
    position: relative;
}
.is-loading:after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    border-radius: 50%;
    border: 2px solid currentColor;
    border-right-color: transparent;
    animation: spin 0.75s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Container for repository details */
.box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

/* Heading styles */
.box p {
    font-size: 1em;
    margin: 5px 0;
}

/* Styling for repository attributes */
.box p strong {
    color: #333;
    font-weight: bold;
}

/* Individual attribute styling */
.box p i {
    margin-right: 8px;
}

/* Repository name */
.box p:first-child {
    color: #2a9d8f; /* Teal */
    font-size: 1.2em;
    font-weight: bold;
}

/* Owner */
.box p:nth-child(2) {
    color: #e76f51; /* Salmon */
}

/* Stars */
.box p:nth-child(3) {
    color: #f4a261; /* Orange */
}

/* Forks */
.box p:nth-child(4) {
    color: #2a9d8f; /* Teal */
}

/* Open Issues */
.box p:nth-child(5) {
    color: #e9c46a; /* Yellow */
}

/* License */
.box p:nth-child(6) {
    color: #264653; /* Dark Blue */
}

/* Last Updated */
.box p:nth-child(7) {
    color: #72d452; /* Light Grey */
}

/* Description */
.box p:nth-child(8) {
    color: #f4a261; /* Orange */
}

/* URL */
.box p:nth-child(9) {
    color: #2a9d8f; /* Teal */
}

/* Button styles */
.button.is-small.is-link {
    margin-top: 10px;
}

.button.is-success {
    background-color: #2a9d8f;
    color: white;
}
